* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#header {
  grid-area: header;
}

#slide1 {
  grid-area: slide1;
}

#slide2 {
  grid-area: slide2;
}

#slide3 {
  grid-area: slide3;
}

#slide4{
  grid-area: slide4;
}

#slide5 {
  grid-area: slide5;
}

.wrapper { /*****parent element (body tag)******/
  display: grid;
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-rows: 6fr;
  -ms-grid-rows: 6fr;
  grid-template-areas:
    "header"
    "slide1"
    "slide2"
    "slide3"
    "slide4"
    "slide5";
}

::-webkit-scrollbar {
    display: none;
}

#header {
  background-color: #330033;
  height: 170px;
}


/*************ALL NAVIGATION***************/
ul {
  padding-left: 0;
}

#nav ul {
  list-style: none;
  text-align: center
}

#nav li{
  display: inline-block;
  margin-top: 9px;
  padding-left: 5px;
}

#nav li a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-variant: small-caps;
  /*font-weight: bold;*/
  opacity:0.6;
  text-decoration: none;
}

#nav li a.active {
  border-bottom: 2px solid #fff;
  color: #fff;
  opacity:1;
}

#nav li a:hover {
  color: #fff;
  opacity:1;
 }

 #contact-me {
   margin-top: 10px;
   width: 100%;
 }

 #contact-me ul {
   list-style: none;
   text-align: center;
 }

 #contact-me li{
   display: inline-block;
   padding: 12px;
   vertical-align:text-bottom;
 }

.contact-me-link:hover {
  transform: scale(1.1);
  cursor: pointer;
}
 /***************ALL BUTTONS*****************/
 .all-skills {

 }

 
 button {
   cursor: pointer;
 }

 .project-btn {
   background-color: #BABABA;
   border: 1px solid #fff;
   color: #fff;
   padding: 15px;
   text-align: center;
   width: 120px;
 }

 .project-btn:hover {
   background-color: #E5E5E5;
   color: #9C6B98;
 }

 .my-rec-btn,
 .comp-btn {
   background-color: #F2F2F2;
   border: 1px solid #fff;
   color: #339999;
   padding: 15px;
 }

 .my-rec-btn:hover,
 .comp-btn:hover {
   background-color: #E5E5E5;
   color: #40E0D0;
   font-weight: bold;
 }

 .comp-btn {
   margin-left: 45px;
 }

 #scroll-up-btn {
   bottom: 20px;
   position: fixed;
   right: 15px;
 }

/************ALL TEXT***************/
h1,
h2{
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 55px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size:32px;
  font-variant: small-caps;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 15px 0;
  padding: 0;
  z-index: 1;
}

#logo {
  margin: 30px;
  text-align: center;
}

#logo a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-variant: small-caps;
  text-decoration: none;
}

.bio {
  font-size: 22px;
  line-height: 1.5;
}

#job-title {
  color: #B272A6;
  font-size: 130%;
}

#skills-title {
  color: #330033;
}

.skills-txt {
  color: #FAF0E6;
  font-size: 20px;
  margin-top: 49px;
  vertical-align: middle;
}

.proj-title {
  font-size: 25px;
  margin: 10px;
}

.static-comp-title-txt {
  color: #339999;
}

#my-phone {
  color: #B272A6;
  font-size: 25px;
}

#copyright {
  color: #fff;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  margin-top: 100px;
  text-align: center; }

  #copyright a {
    text-decoration: none;
    color: #fff;
  }

  #my-signature {
    font-family: 'Monotype Corsiva', sans-serif;
  }

/***********SLIDES************/
.content-container {
  width: 90%;
  margin: 0 auto;
}

#slide1 p {
  margin: 10px 20px;
}

#slide1{
  background-color: #F4F4F4;
  background:url('../images/greyzz.png') 50% 0 no-repeat fixed;
  background-size: cover;
  color: #373737;
  padding: 50px 0;
}

#slide2 {
  background-color: #F4F4F4;
  color: #373737;
  height: auto;
  padding: 50px 0;
}

#slide3 {
  background-color: #BABABA;
  color: #F4F4F4;
  padding: 50px 0;
}

#slide4 {
  background:url('../images/greyzz.png') 50% 0 no-repeat fixed;
  background-color: #F4F4F4;
  color: #373737;
  padding: 50px 0 50px 0;
  background-size: cover;
}

#slide5 {
  background-color: #330033;
  color: #F4F4F4;
  height: 500px;
  padding: 50px 0 50px 0;
}


.slide1-grid {
  display: grid;
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-rows: 1fr;
}

/******PROJECTS AND STATIC COMPS****/
.skills-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 120px);
  -ms-grid-columns: repeat(2, 120px);
  grid-template-rows: repeat(4,120px);
  -ms-grid-row: repeat(4,120px);
  grid-gap: 30px;
}

.skills-grid div{
  border: 1px solid #FFF;
  border-radius: 50%;
}

.proj-grid {
  margin: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-rows: 1fr;
  grid-row-gap: 60px;
}

.skills {
  transition: all .2s ease-in-out;
}

.skills:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.skill1 {
  background-color: #EBCEAC;
}

.skill2 {
  background-color: #9C6B98
}

.skill3 {
  background-color: #339999;
}

.skill4 {
  background-color: #BABABA;
}

.skill5 {
  background-color: #330033 ;
}

.skill6 {
 background-color: #B272A6;
}
.skill7 {
 background-color: #40E0D0;
}

/************IMAGES************/

  #lg-avatar {
    text-align: center;
  }

  #my-photo {
    border: 3px solid #40E0D0;
    border-radius: 50%;
    height: 140px;
    width: 140px;
  }

  .proj1Img,
  .proj2Img,
  .proj3Img,
  .comp1Img,
  .comp2Img,
  .comp3Img
   {
     max-width: 100%;
  }

  #up-arrow{
    opacity: 0.4;
  }

  #up-arrow:hover {
    opacity: 0.8;
  }

  #up-arrow,
  .social-icon {
    cursor: pointer;
    height: 50px;
    width: 50px;
  }

  /***************MEDIA QUERIES**************/
  @media screen and (max-width: 480px) {
    #up-arrow {
      display: none;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 650px) {
    .skills-grid {
      display: grid;
      grid-template-columns: repeat(3, 125px);
      -ms-grid-columns: repeat(3, 125px);
      grid-template-rows: repeat(3, 125px);
      -ms-grid-rows: repeat(3, 125px);
      grid-gap: 20px;
    }
  }

  @media screen and (min-width: 650px) and (max-width: 768px) {
    .bio,
     p {
      text-align: left;
    }

    .slide2 {
      padding: 50px 0;
    }

    .proj-grid {
      height: 1050px;
      margin: 10px;
      display: grid;
      grid-template-columns: repeat(2, 290px);
      -ms-grid-columns: repeat(2, 290px);
      grid-template-rows: repeat(2, 425px);
      -ms-grid-rows: repeat(2, 425px);
      grid-gap: 50px;
    }

    .skills-grid {
      height: 300px;
      display: grid;
      grid-template-columns: repeat(4, 125px);
      -ms-grid-columns: repeat(4, 125px);
      grid-template-rows: repeat(3, 125px);
      -ms-grid-rows: repeat(3, 125px);
      grid-gap: 39px;
    }
  }

  @media screen and (min-width: 768px)  {
    * {
      text-align: left;
    }

    #header {
      height: 70px;
      position: fixed;
    }

    #nav ul {
      text-align: center;
    }

    #nav li {
      padding-left: 20px;
    }

    #logo {
      margin: 15px 0 15px 75px;
      text-align: center;
    }

    .header-grid {
      display: grid;
      grid-template-columns: 400px 1fr 1020px;
      -ms-grid-columns: 400px 1fr 1020px;
      grid-template-areas:
      "logo logo nav";
    }

    .content-container {
      width: 1000px;
      margin: 0 auto;
    }

    #logo {
      grid-area: logo;
    }

    #nav {
      grid-area: nav;
    }

    #lg-avatar {
      grid-area: lgAvatar;
    }

    #slide-p {
      grid-area: slide-p;
    }


    h2 {
      font-size: 42px;
    }

    #job-title {
      font-size: 24px;
    }

    #my-photo {
      height: 160px;
      width: 160px;
    }

    #slide1,
    #slide5 {
      height: 700px;
      padding: 180px 0 70px 0;
    }

    #slide2 {
      height: 650px;
      padding: 253px 0 70px 0;
    }

    #slide3 {
      height: 800px;
    }

    #slide3 {
      padding: 100px 0 70px 0;
    }

    #slide4 {
      height: 950px;
      padding: 100px 0;
    }

    .proj-grid {
      margin: 10px;
      display: grid;
      grid-template-columns: repeat(3, 300px);
      -ms-grid-columns: repeat(3, 300px);
      grid-template-rows: 355px;
      -ms-grid-rows: 355px;
      grid-gap: 39px;
    }

    .skills-grid {
      display: grid;
      grid-template-columns: repeat(7, 123px);
      -ms-grid-columns: repeat(7, 123px);
      grid-template-rows: 123px;
      -ms-grid-rows: 123px;
      grid-column-gap: 20px;
    }
  }
